# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
out
.turbo

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Misc
*.tsbuildinfo
